<% dummyInt = 0 %>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
  	<% @student.juries.each do |juries| %>
    <% juries.jury_forms.each do |jury_form| %>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=dummyInt%>">
        <b> Jury judged by <%= jury_form.judge.name %> </b>
      </a>
    </div>
    <div id="collapse<%=dummyInt%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= form_information(jury_form) %>
      </div>
    </div>
    <% dummyInt = dummyInt + 1 %>
    <% end %>
    <% end %>
  </div>
</div>

