<p id="notice"><%= notice %></p>

<p>
  <b>Criteria:</b>
  <%= @criteria_group.criteria_id %>
</p>


<%= link_to 'Edit', edit_criteria_group_path(@criteria_group) %> |
<%= link_to 'Back', criteria_groups_path %>
